@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,regular);
@import url(/Gilroy/stylesheet.css);
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Gilroy", sans-serif;
  position: relative;
}

.container {
  max-width: 1780px;
  padding: 0 30px;
}

.container-right {
  padding-left: calc((100% - 1440px) / 2 + 30px);
}

.nav-btn {
  display: none;
}

.none {
  display: none !important;
}

.no-scroll {
  overflow-y: hidden;
}

.owl-item.active {
  width: 200px;
}

.header {
  height: 100vh;
  background-color: beige;
  background-image: url(/./img/main.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}
.header__top {
  padding: 44px 0px;
  margin-bottom: 100px;
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__list {
  display: flex;
  align-items: center;
  -moz-column-gap: 118px;
  column-gap: 118px;
}
.header__item {
  list-style-type: none;
}
.header__link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #114455;
}
.header__btn {
  display: flex;
  align-items: center;
  -moz-column-gap: 16px;
  column-gap: 16px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #114455;
  border: 1px solid #114455;
  border-radius: 2px;
  padding: 10px 24px;
}
.header__btn:hover {
  opacity: 0.3;
}
.header__title {
  max-width: 743px;
  font-size: 70px;
  line-height: 94px;
  font-weight: 700;
  color: #114455;
  margin-bottom: 48px;
}
.header__text {
  font-weight: 400;
  font-size: 34px;
  line-height: 1.57;
  letter-spacing: -0.02em;
  color: #1f1f1f;
  opacity: 0.7;
  max-width: 1060px;
  margin-bottom: 72px;
  font-family: "Work Sans";
}
.header__btn-dark {
  display: inline-flex;
  align-items: center;
  -moz-column-gap: 16px;
  column-gap: 16px;
  background-color: #114455;
  color: #fff;
  line-height: 30px;
  opacity: 1;
}
.header__btn-dark:hover {
  display: inline-flex;
  -moz-column-gap: 16px;
  column-gap: 16px;
  background-color: #fff;
  color: #114455;
  opacity: 1;
}
.header__btn-dark:hover::after {
  display: block;
  content: "";
  width: 30px;
  height: 32px;
  background-image: url(/img/arrow-right.svg);
  background-position: center;
  margin-left: -8px;
}
.header__btn-dark:hover img {
  display: none;
}
.header__content-mobile {
  display: none;
}
.header__text-mobile {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #1f1f1f;
  opacity: 0.7;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 237px;
  margin-top: 27px;
}
.header__scroll {
  position: absolute;
  bottom: 59px;
  left: 50%;
  transform: translateX(-50%);
}

.case {
  padding: 184px 0;
}
.case__title {
  margin-bottom: 12px;
  font-size: 80px;
  line-height: 94px;
  color: #1f1f1f;
  font-weight: 800;
}
.case__text {
  max-width: 1076px;
  font-size: 28px;
  line-height: 44px;
  color: #1f1f1f;
  opacity: 0.7;
  margin-bottom: 100px;
}

.slider {
  display: flex;
  padding-left: 10px;
  width: 546px;
}
.slider__item {
  position: relative;
  display: inline-block;
  padding-left: 80px;
}
.slider__item-title {
  position: absolute;
  bottom: 85px;
  left: 0;
  font-size: 140px;
  font-weight: 800;
  background: linear-gradient(
    90deg,
    rgb(17, 68, 85) 80px,
    rgb(255, 255, 255) 80px
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.video {
  padding-top: 144px;
  padding-bottom: 144px;
}
.video__title {
  font-size: 80px;
  line-height: 94px;
  color: #1f1f1f;
  font-weight: 800;
}
.video__text {
  max-width: 1070px;
  font-size: 28px;
  line-height: 44px;
  color: #1f1f1f;
  opacity: 0.7;
  margin-bottom: 78px;
}
.video__item {
  position: relative;
}
.video__item-overlay::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(0deg, #114455, #114455), url(image.png);
  mix-blend-mode: multiply;
  opacity: 0.5;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.video__video-btn {
  width: 120px;
  z-index: 2;
  height: 120px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.video__video-btn img {
  width: 100%;
  height: 100%;
}
.video__video-img {
  position: absolute;
  top: 0;
  left: 0;
}
.video__object {
  width: 100%;
  height: 100%;
  vertical-align: top;
}

.footer {
  padding: 162px 0 82px;
}
.footer__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__copyright {
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0.04em;
  color: #1f1f1f;
  opacity: 0.7;
}
.footer__nav {
  display: flex;
  -moz-column-gap: 104px;
  column-gap: 104px;
  align-items: center;
}
.footer__email a {
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0.04em;
  color: #1f1f1f;
  opacity: 0.7;
}
.footer__socials {
  display: flex;
  align-items: center;
  list-style-type: none;
  -moz-column-gap: 26px;
  column-gap: 26px;
}
.mobile-nav {
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100vh;
  padding: 44px 39px 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mobile-nav__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 50px;
}
.mobile-nav__logo {
  height: 20px;
}
.mobile-nav__btn {
  margin-right: -8px;
}
.mobile-nav__list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  row-gap: 10px;
  padding-bottom: 60px;
}
.mobile-nav__list-link {
  font-size: 30px;
  line-height: 46px;
  color: #1f1f1f;
  font-weight: 700;
}
.mobile-nav__contacts {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding-bottom: 45px;
}
.mobile-nav__contacts-title {
  font-size: 24px;
  line-height: 32px;
  color: #1f1f1f;
  padding-bottom: 16px;
}
.mobile-nav__contacts-email {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.06em;
  color: #1f1f1f;
  opacity: 0.7;
}
.mobile-nav__contacts-phone {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.06em;
  color: #1f1f1f;
  opacity: 0.7;
}
.mobile-nav__contacts-adres {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.06em;
  color: #1f1f1f;
  opacity: 0.7;
}

.mobile-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
}
.mobile-footer__email {
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.06em;
  color: #4a2ad3;
  opacity: 0.7;
}
.mobile-footer__socials {
  display: flex;
  -moz-column-gap: 27px;
  column-gap: 27px;
  padding-bottom: 1px;
  list-style-type: none;
}
.mobile-footer__link {
  width: 24px;
  height: 24px;
}
.mobile-footer__copyright {
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.08em;
  color: #1f1f1f;
  opacity: 0.7;
} /*# sourceMappingURL=style.css.map */
